@font-face{
    font-family: 'Lato';
    src: local('Lato-Light'); 
    src: url(assets/fonts/Lato/Lato-Light.ttf);
    font-weight: 300;
    font-style: normal;
    }

@font-face{
    font-family: 'Lato';
    src: local('Lato-Regular'); 
    src: url(assets/fonts/Lato/Lato-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    }

@font-face{
    font-family: 'Lato';
    src: local('Lato-Bold'); 
    src: url(assets/fonts/Lato/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    }

@font-face{
    font-family: 'Lato';
    src: local('Lato-Black'); 
    src: url(assets/fonts/Lato/Lato-Black.ttf);
    font-weight: 900;
    font-style: normal;
    }

* {
    margin: 0;
    padding: 0;
}
     
body {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', Arial, sans-serif;
}

.container {
    width: 940px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


.portfolio {
    height: 870px;
    box-sizing: border-box;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}


.portfolio h2,
.about-us h2 {
    font-size: 30px;
    font-weight: 700;
    color: #666d89;
}

.portfolio p,
.about-us .container > p {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
}

.portfolio__tags,
.about-us__staff p {
    font-size: 12px;
    font-weight: 400;
    color: #767e9e;
}

.portfolio__tags span {
    display: inline-block;
    border: 1px solid #767e9e;
    padding-top: 5px;
    padding-bottom: 5px;
}



.portfolio__works {
    display: flex;
    justify-content: space-between;
}

.portfolio__works .portfolio__photo {
    width: 220px;
}