@font-face{
    font-family: 'Lato';
    src: local('Lato-Light'); 
    src: url(assets/fonts/Lato/Lato-Light.ttf);
    font-weight: 300;
    font-style: normal;
    }

@font-face{
    font-family: 'Lato';
    src: local('Lato-Regular'); 
    src: url(assets/fonts/Lato/Lato-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    }

@font-face{
    font-family: 'Lato';
    src: local('Lato-Bold'); 
    src: url(assets/fonts/Lato/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    }

@font-face{
    font-family: 'Lato';
    src: local('Lato-Black'); 
    src: url(assets/fonts/Lato/Lato-Black.ttf);
    font-weight: 900;
    font-style: normal;
    }

* {
    margin: 0;
    padding: 0;
}
     
body {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', Arial, sans-serif;
}

.container {
    width: 940px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contact-us {
    height: 654px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    box-sizing: border-box;
}

.container h2 {
    padding-top: 60px;
    padding-bottom: 16px;
    font-weight: 900;
    font-size: 30px;
    color: #f0d8d9;
}

.container > p {
    padding-bottom: 44px;
    font-weight: 300;
    font-size: 18px;
    color: #f0d8d9;
    line-height: 30px;
    text-align: justify;

}

.contact-us__information {
    display: flex;
    justify-content: space-between;
}

form.contact-us__field {
    display: flex;
    flex-direction: column;
    width: 620px;
}

.contact-us__field:nth-child(2) {
    width: 300px;
}

form.contact-us__field input {
    height: 40px;
    padding-left: 15px;
    margin-bottom: 14px;
    background-color: #d6564f;
    color: #ec7e7e;
    border-radius: 7px;
    border: none;
    font-size: 12px;
    font-weight: 400;
}

form.contact-us__field textarea {
    height: 192px;
    padding-left: 15px;
    padding-top: 11px;
    margin-bottom: 14px;
    background-color: #d6564f;
    
    border-radius: 7px;
    font-size: 12px;
    border: none;
    resize: none;
    font-family: 'Lato', Arial, sans-serif;
}

textarea::-webkit-input-placeholder {
    color: #ec7e7e !important;
}
     
textarea:-moz-placeholder { 
    color: #ec7e7e !important;  
}
     
textarea::-moz-placeholder { 
    color: #ec7e7e !important;  
}
     
textarea:-ms-input-placeholder {  
    color: #ec7e7e !important;  
}

input[type="email"]::-webkit-input-placeholder {
    color: #ec7e7e !important;
    }
     
input[type="email"]:-moz-placeholder { 
    color: #ec7e7e !important;  
}
     
input[type="email"]::-moz-placeholder { 
    color: #ec7e7e !important;  
}
     
input[type="email"]:-ms-input-placeholder {  
    color: #ec7e7e !important;  
}

input::-webkit-input-placeholder {
    color: #ec7e7e !important;
}
     
input:-moz-placeholder { /* Firefox 18- */
    color: #ec7e7e !important;  
}
     
input::-moz-placeholder {  /* Firefox 19+ */
    color: #ec7e7e !important;  
}
     
input:-ms-input-placeholder {  
    color: #ec7e7e !important;  
}

.button {
    height: 40px;
    border-radius: 7px;
    background-color: #d6564f;
    color: #ec7e7e;
    border: none;
    width: 30%;
    font-size: 12px;
    cursor: pointer;
}

.our-contacts {
    display: flex;
    flex-direction: column;
}

.contact-us__field h3 {
    font-weight: 900;
    font-size: 18px;
    color: #f0d8d9;
    padding-bottom: 7px;
}

.contact-us__field p {
    font-size: 12px;
    color: #f0d8d9;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.016em;
    padding-bottom: 24px;
}

.contact-us__field .our-contacts {
    font-size: 12px;
    color: #f0d8d9;
}

.our-contacts a {
    text-decoration: none;
    color: #f0d8d9;
    padding-left: 23px;
    padding-bottom: 6px;
}

.our-contacts span {
    padding-left: 23px;
    padding-bottom: 6px;
}

.location {
    background: url(assets/images/location.png) no-repeat;
    background-position: 3px 2px;
}

.phone-to {
    background: url(assets/images/phone_c.png) no-repeat;
    background-position: 1px 1px;
}

.mail-to {
    background: url(assets/images/mail.png) no-repeat;
    background-position: 0 5px;
}

.footer {
    height: 76px;
    background-color: #2d303a;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer span {
    font-size: 12px;
    color: #666d89;
    margin-top: 30px;
    margin-left: 2px;
}

.icons-wrapper-f {
    display: flex;
    margin-top: 23px;
    width: 152px;
    justify-content: space-between;
}

.icon-f {
    width: 30px;
    height: 30px;
    border: 1px solid #666d89;
    border-radius: 50%;
}

.icon-f:hover {
    border: 1px solid #464b5f;
}

.icons__facebook-f {
    background: url(assets/images/facebook_f.png) center no-repeat;
}

.icons__google-f {
    background: url(assets/images/google_f.png) center no-repeat;
}

.icons__twitter-f {
    background: url(assets/images/twitter_f.png) center no-repeat;
}

.icons__linkedin-f {
    background: url(assets/images/linkedin_f.png) center no-repeat;
}