@font-face{
    font-family: 'Lato';
    src: local('Lato-Light'); 
    src: url(assets/fonts/Lato/Lato-Light.ttf);
    font-weight: 300;
    font-style: normal;
    }

@font-face{
    font-family: 'Lato';
    src: local('Lato-Regular'); 
    src: url(assets/fonts/Lato/Lato-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    }

@font-face{
    font-family: 'Lato';
    src: local('Lato-Bold'); 
    src: url(assets/fonts/Lato/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    }

@font-face{
    font-family: 'Lato';
    src: local('Lato-Black'); 
    src: url(assets/fonts/Lato/Lato-Black.ttf);
    font-weight: 900;
    font-style: normal;
    }

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
     
body {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', Arial, sans-serif;
}

.container {
    width: 940px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: sticky;
    top: 0;
    height: 96px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    box-sizing: border-box;
    z-index: 1001;
}

.nav-toggle {
    display: none;
}

.nav-close {
    display: none;
}

#span-menu {
    font-family: 'Lato';
    display: none;
    color: White;
    position: absolute;
    top: 26px;
    left: 70px;
    z-index: 100;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

#span-menu span {
    color: #F06C64;
}


.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-wrapper h1 {
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
}

.header-wrapper h1 span {
    color: #f06c64;
}

.header-insert ul li {
    position: relative;
    display: inline-block;
    list-style-type: none;
}

.active {
    color: #f06c64 !important;
}

.header-insert ul li:not(:last-child) a::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 2px;
    top: 55%;
    right: -4px;
    background-color: #494e62;
}

.header-insert li a {
    display: block;
    padding-top: 49px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.header-insert li a:hover {
    color: #f06c64;
}

.header-insert li:not(:last-child) a {
    padding-left: 12px;
    padding-right: 13px;
}

.header-insert li:last-child a {
    padding-left: 12px;
}

.slider {
    scroll-margin-top: 96px;
    position: relative;
    height: 600px; 
    background-color: #f06c64; 
    border-bottom: 6px solid #ea676b;
    box-sizing: border-box;
}

.left {
    background: url(assets/images/left.png) center no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 278px;
    left: 34px;
    z-index: 5;
}

.right {
    cursor: pointer;
}

.left {
    cursor: pointer;
}

.right {
    background: url(assets/images/right.png) center no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 278px;
    right: 34px;
    z-index: 5;
}

.slider-phone {
    opacity: 0;
}

#phone-second:hover,
#phone-first:hover,
#first:hover, 
#second:hover{
    cursor: pointer;
}

.active-slider {
    opacity:1;
    transition: all .9s 
}

.turn-off-first {
    display: none;
    position: absolute;
    top: 113px;
    left: 123px;
    z-index: 1000;

}

.turn-off-second {
    display: none;
    position: absolute;
    top: 183px;
    right: 198px;
    z-index: 1000;
}

.turn-on {
    display: block;
}

.slider-phone.first img:nth-child(1) {
    position: absolute;
    top: 52px;
    left: 112px;
    border-radius: 24px;
    z-index: 1; 
}

.slider-phone.first img:nth-child(3) {
    position: absolute;
    top: 173px;
    right: 137px;
    border-radius: 24px;
    z-index: 1;
}

.slider-phone.first img:nth-child(2) {
    position: absolute;
    top: 52px;
    left: 112px;
}

.slider-phone.first img:nth-child(4) {
    position: absolute;
    top: 174px;
    right: 112px;
}

.services {
    scroll-margin-top: 96px;
    height: 498px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    color: #666d89;
    box-sizing: border-box;
}

.services-wrapper:first-child {
    padding-top: 67px;
}

.services-insert-horizontal {
    display: flex;
    justify-content: space-between;
}

.services-insert-horizontal:first-child {
    padding-bottom: 29px;
}

.services-insert-tb {
    display: flex;
    justify-content: space-between;
    width: 302px;
}

.third-bottom .insert-right p,
.third-top .insert-right p,
.third-bottom .insert-right h3,
.third-top .insert-right h3{
    margin-left: 3px;
}

.third-bottom .insert-right p,
.third-top .insert-right p {
    margin-left: 2px;
}

.insert-left {
    width: 57px;
    height: 57px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #686f8b;
    border-radius: 50%;
}

.pen {
    background-image: url(assets/images/pen.png);
    margin-top: 2px;
}

.bulb {
    background-image: url(assets/images/bulb.png);
    margin-top: 2px;
}

.heart {
    background-image: url(assets/images/heart.png);
    margin-top: 2px;
    margin-left: 1px;
}

.phone {
    background-image: url(assets/images/phone.png);
    margin-top: 2px;
}

.bubble {
    background-image: url(assets/images/bubble.png);
    margin-top: 2px;
}

.star {
    background-image: url(assets/images/star.png);
    margin-top: 2px;
    margin-left: 1px;
}

 .insert-right {
     width: 222px;
     height: 94px;
     overflow: hidden;
 }

 .services-wrapper h2 {
     padding-bottom: 27px;
     font-weight: 900;
     font-size: 30px;
     line-height: 20px;
     text-align: justify;
 }

 .services-wrapper:first-child p {
    padding-bottom: 46px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
 }

 .insert-right h3 {
    padding-bottom: 6px;
    font-weight: 900;
    font-size: 18px;
 }

 .insert-right p {
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
    line-height: 22px;
 }

 .portfolio {
    scroll-margin-top: 96px;
    height: 870px;
    box-sizing: border-box;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio h2,
.about-us h2 {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
}

.portfolio p,
.about-us .container > p {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
}

.column {
    order: 4;
}

.portfolio__tags,
.about-us__staff p {
    font-size: 12px;
    font-weight: 400;
}

.tag_not-selected {
    color: #767e9e;
    border: 1px solid #767e9e;
}

.tag_selected {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.tag:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.portfolio__tags span {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 19px;
    margin-right: 8px;
    cursor: pointer;
}

.portfolio__tags span:nth-child(3) {
    margin-right: 6px;
}

.portfolio__tags span:nth-child(1) {
    padding-right: 7px;
}

.portfolio h2 {
    padding-top: 60px;
    padding-bottom: 23px;
}

.portfolio__works {
    display: flex;
    justify-content: space-between;
    height: 610px;
    overflow: hidden;
}


.img-border {
    outline: 5px solid #F06C64; 
    outline-offset: -5px;
}

.portfolio__photo img {
    margin-bottom: 17px;
    box-sizing: border-box;
}

.portfolio__photo img:hover {
    cursor: pointer;
}

.portfolio__works .portfolio__photo {
    width: 220px;
}

.about-us {
    scroll-margin-top: 96px;
    height: 735px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    box-sizing: border-box;
}

.about-us__staff-wrapper {
    display: flex;
    justify-content: space-between;
}

.about-us__staff {
    width: 300px;
}

.about-us__staff h3 {
    padding-top: 12px;
    padding-bottom: 9px;
    color: #666d89;
    font-weight: 900;
    letter-spacing: -0.02em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about-us__staff p {
    color: #767e9e;
    text-align: justify;
    line-height: 20px;
    letter-spacing: -0.025em
}

.about-us h2 {
    padding-top: 60px;
    padding-bottom: 18px;
}

.about-us .container > p {
    margin-bottom: 44px;
    line-height: 30px;
    text-align: justify;
} 

.icons-wrapper {
    display: flex;
    width: 154px;
    justify-content: space-between;
    padding-top: 25px;
}

.icon {
    width: 30px;
    height: 30px;
    border: 1px solid #6a718c;
    border-radius: 50%;
}

.icon:hover {
    border: 1px solid #383c4b;
}

.icons__facebook {
    background: url(assets/images/facebook.png) center no-repeat;
}

.icons__google {
    background: url(assets/images/google.png) center no-repeat;
}

.icons__twitter {
    background: url(assets/images/twitter.png) center no-repeat;
}

.icons__linkedin {
    background: url(assets/images/linkedin.png) center no-repeat;
}

.form {
    position: relative;
}

.hidden {
    display: none;
}

#pop-up_form {
    position: relative;
    width: 1020px;
    height: 654px;
    background-color: #00000050;
    top: -100%;
    left: 0;  
}

#message {
    position: absolute;
    top: 300px;
    left: 200px;
    padding-top: 40px;
    width: 600px;
    height: 220px;
    background-color: rgb(80, 78, 78);
    color: #fff;
    border-radius: 4px;
}

#close-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(49, 48, 48);
    color: #fff;
}

#message p {
    text-align: center;
    font-size: 24px;
    text-overflow: clip;
    overflow: hidden;
}

.contact-us {
    scroll-margin-top: 96px;
    height: 680px;;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    box-sizing: border-box;
}

.contact-us .container h2 {
    padding-top: 58px;
    padding-bottom: 18px;
    font-weight: 900;
    font-size: 30px;
    color: #f0d8d9;
}

.contact-us .container > p {
    padding-bottom: 43px;
    font-weight: 300;
    font-size: 18px;
    color: #f0d8d9;
    line-height: 30px;
    text-align: justify;

}

.contact-us__information {
    display: flex;
    justify-content: space-between;
}

form.contact-us__field {
    display: flex;
    flex-direction: column;
    width: 620px;
}

.contact-us__field:nth-child(2) {
    width: 300px;
}

form.contact-us__field input {
    height: 40px;
    padding-left: 15px;
    margin-bottom: 14px;
    background-color: #d6564f;
    color: #ec7e7e;
    border-radius: 7px;
    border: none;
    font-size: 12px;
    font-weight: 400;
}

form.contact-us__field textarea {
    height: 192px;
    padding-left: 15px;
    padding-top: 11px;
    margin-bottom: 14px;
    background-color: #d6564f; 
    border-radius: 7px;
    font-size: 12px;
    border: none;
    resize: none;
    font-family: 'Lato', Arial, sans-serif;
}

input[type="text"],
input[type="email"],
::placeholder {
    color: #ec7e7e ;
}

input[type="text"]:nth-child(1):invalid:focus,
input[type="email"]:invalid:focus {
    background-color: rgb(236, 73, 73);
}

input[type="text"]:nth-child(1):valid,
input[type="email"]:valid {
    background-color: rgb(134, 202, 134);
}

textarea::placeholder {
    color: #ec7e7e ;
}

.button {
    height: 40px;
    border-radius: 7px;
    background-color: #FBC65F;
    color: #886A30;
    border: none;
    width: 30%;
    font-size: 12px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(245, 187, 70);
    transition: ease-in-out .3s;
}

.our-contacts {
    display: flex;
    flex-direction: column;
}

.contact-us__field h3 {
    font-weight: 900;
    font-size: 18px;
    color: #f0d8d9;
    padding-bottom: 7px;
}

.contact-us__field p {
    font-size: 12px;
    color: #f0d8d9;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.016em;
    padding-bottom: 24px;
}

.contact-us__field .our-contacts {
    font-size: 12px;
    color: #f0d8d9;
}

.our-contacts a {
    text-decoration: none;
    color: #f0d8d9;
    padding-left: 23px;
    padding-bottom: 6px;
}

.our-contacts span {
    padding-left: 23px;
    padding-bottom: 6px;
}

.location {
    background: url(assets/images/location.png) no-repeat;
    background-position: 3px 2px;
}

.phone-to {
    background: url(assets/images/phone_c.png) no-repeat;
    background-position: 1px 1px;
}

.mail-to {
    background: url(assets/images/mail.png) no-repeat;
    background-position: 0 5px;
}

.footer {
    height: 76px;
    background-color: #2d303a;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer span {
    font-size: 12px;
    color: #666d89;
    margin-top: 30px;
    margin-left: 2px;
}

.icons-wrapper-f {
    display: flex;
    margin-top: 21px;
    width: 152px;
    justify-content: space-between;
}

.icon-f {
    width: 30px;
    height: 30px;
    border: 1px solid #666d89;
    border-radius: 50%;
}

.icon-f:hover {
    border: 1px solid #464b5f;
}

.icons__facebook-f {
    background: url(assets/images/facebook_f.png) center no-repeat;
}

.icons__google-f {
    background: url(assets/images/google_f.png) center no-repeat;
}

.icons__twitter-f {
    background: url(assets/images/twitter_f.png) center no-repeat;
}

.icons__linkedin-f {
    background: url(assets/images/linkedin_f.png) center no-repeat;
}